@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
:root{
    --color-morado:#440c5e;
    --color-morado-claro:#570879;
    --color-morado-opaco:#440c5e9d;
    --color-verde-claro:#b8ff92;
    --color-banco:#faf8fb;
    --font-family:'Roboto', sans-serif;
} 

body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: var(--color-banco);
    font-family: var(--font-family);
}
/*Clases para cosas repetitivas*/
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column
{
    display: flex;
    flex-direction: row;
}

.flex-center-y
{
    align-items: center;
}
.flex-center-xy{
    align-items: center;
    justify-content: center;
}
/*--Estilos del logo*/

#logo-item{
    fill: var(--color-verde-claro);
}
#text-item1{
    fill: var(--color-verde-claro);
}
#text-item2{
    fill: var(--color-verde-claro);
}
/*Estilos del header y nav*/
#header{ 
    display: flex;
    flex-direction: row;
    background-color: var(--color-morado-claro);
    border-bottom: 5px solid var(--color-verde-claro);
    justify-content: space-between;
    padding: 0 15%;
    overflow: hidden;
}
.header__nav
{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.nav__item-a{
    color: var(--color-verde-claro);
    text-decoration: none;
}

/* inicio estilos */
#inicio{

    height: 100vw;
    height: 91vh;
   background: url('/img/desktop/code.jpg');
   background-size: cover;
   /* filter: blur(3px); */
}

.inicio__item{
    width: 100%;
    height: 100%;
    background-color: var(--color-morado-opaco);
}
.inicio__text{
    text-align: center;
    color: var(--color-verde-claro);
}


/* estilos para aboutme */
#aboutme
{
    padding: 5% 15%;
}

/*skill stlyles */
#skills{
    background-color: var(--color-morado);
    color: var(--color-verde-claro);
    padding: 5% 15%;
}
.skill-li-item{
    background-color: var(--color-morado-claro);
    color: var(--color-verde-claro);
    border: 1px solid var(--color-verde-claro);
}


/*#PORTAFOLIO------------------------- */
#portafolio
{
    background-color: var(--color-banco);
    padding: 5% 15%;
}

.portafolio-embed-video
{
    min-width: 300px;
    min-height: 150px;
}
/*PROYECTS STYLES----------------*/
.container-proyect
{
    padding: 5% 0;   
}

@media (min-width: 769px) {
    .header__nav
    {
        display: flex;
    }
    .header__nav-mobile{
        display: none;
    }
}
