<section id="aboutme" data-aos="fade-right">
    <div class="aling-text row about-me">
        <div class="col-md-6">
            <h2>Detalles</h2>
            <table class="">
                <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>Robinson Cajas</td>
                </tr>
                <tr>
                <tr>
                    <td>Estudiante</td>
                    <td>de informática</td>
                </tr>
            </tbody></table>
            <img src="/img/gif/4GZ9.gif">
    </div>
    <div class="col-md-6">
        <h2>Perfil</h2>
        <article>
            Me gusta aprender cosas nuevas en las cuales están los idiomas, algún día 
            me gustaría saber mis idiomas favoritos <strong>Ingles</strong> y Japónes. Me encanta la programación
            siendo <strong>JavaScript</strong> mi lenguaje de mayor dominio, puedes visitar mi github aquí <a target="_blank" href="https://github.com/robincajas12">aquí</a>
        </article>        
    </div>
</div>
</section>