<section id="inicio">
    <div class="inicio__item flex-row flex-center-xy">
        <div class="inicio__text">
            <h1>Hi! Welcome to my website ❤️</h1>
            <!-- <p>Me dedico al desarrollo de apps web</p> -->
        </div>
    </div>
</section>